.topnav {
    background-color: rgb(44, 44, 44);
    overflow: hidden;
  }
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: teal;
    color: white;
  }

  body {
    margin: 0;
  }

  body.OW2 {
    background: rgb(255, 255, 255) url('../Images/ow2background.jpg') no-repeat center center fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    font: 13pt Arial; 
    color: whitesmoke
  }

  table,th,td {
    border: 1px solid black;
    border-collapse: collapse;
  }

  body.PLT {
    background: rgb(255, 255, 255) url('../Images/plaguetalebackground.jpeg') no-repeat center center fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    font: 13pt Arial;
    color: whitesmoke
  }

  body.Home {
    background: rgb(255, 255, 255) url('../Images/homebackground.jpg') no-repeat center center fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    font: 13pt Arial;
    color: whitesmoke
  }

  body.UNC {
    background: rgb(255, 255, 255) url('../Images/Unchartedbackground.jpeg') no-repeat center center fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    font: 13pt Arial;
    color: whitesmoke
  }

  .fakeimg {
    width: 100%;
    height: 100%;

  }

  .card {
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(44, 44, 44);
    margin-top: 20px;
    padding: 40px;
    width: 80%;
    color: white;
    font-family: 'Times New Roman', Times, serif
  }

  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  .column {
    float: left;
    width: 33.33%;
    padding: 15px;
  }